{% extends 'base.html' %}
{% block body %}
<!--
PK:{{pk}}<br>
Obj:{{obj}}<br>
Objtr:{{objtr}}<br>
Test: {{avviks}}<br>
-->

{% if avviks != 'False'%}
{% for avvik in avviks %}

<a href="{% url 'avvik' pk %}?obj={{obj.pk}}&avvik={{avvik.pk}}&remove=yes">
    <p>{{avvik.pk}}&nbsp;{{avvik}}</p>
</a>
{% endfor %}

{% else %}

{% for obj in objtr %}
<!-- href="{% url 'avvik' pk %}?obj={{obj.pk}}" -->
<a href="{% url 'avvik' pk %}?obj={{obj.object.pk}}">
    <p>{{obj.object.lokasjon}}&nbsp;{{obj.object.plassering}}&nbsp;{{obj.object.etg}}</p>
</a>
Avvik:
{% for o in obj.avvik.all %}
<p>{{o}}</p>
{% endfor %}

{% empty %}

Ingen avvik!

{% endfor %}

{% endif %}
{% endblock %}
