{% block bookings %}
<div class="just-padding">
    <h2>Følgende handlinger har blitt utført</h2>
    <p>Gå igjennom punkt for punkt eller godta alle</p>
    <a class="btn btn-success btn-lg" href="?liste=bookings">Godkjenn alle</a>
    <br><br>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Utført?</th>
            <th>Angre?</th>
            <th>Godta?</th>
            <th>&nbsp;</th>
            <th>Etg</th>
            <th>Lokasjon</th>
            <th>Plassering</th>
            <th>Objekt</th>


        </tr>

        {% for objtr in bookings %}
        <tr>
            <td>{{objtr.id}}</td>
            <!-- Gå igjennom alle de ulike typene i ObjTr -->
            <td>
                {% if objtr.kontrolldato %}
                1-års kontroll utført
                {% endif %}
                {% if objtr.servicedato %}
                5/10-års kontroll utført
                {% endif %}
                {% if objtr.avvik.all %}
                Avvik registrert
                {% endif %}
                {% if objtr.utbedret_avvik %}
                Avvik utbedret
                {% endif %}
                {% if objtr.added %}
                Ny
                {% endif %}
                {% if objtr.deleted %}
                Fjernet
                {% endif %}


            </td>
            <td><a class="btn btn-danger btn-sm" href="#">Slett</a></td>
            <td><a class="btn btn-success btn-sm" href="#">Godkjenn</a></td>
            <td>
                {% if objtr.avvik.all %}
                <a class="btn btn-primary btn-sm" href="#">Behandle avvik</a>
                {% endif %}

            </td>
            <td>{{objtr.object.etg}}</td>
            <td>{{objtr.object.lokasjon}}</td>
            <td>{{objtr.object.plassering}}</td>
            <td>{{objtr.object.extinguishant}}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
