{% block bookings %}
{% load define_action %}
{% if bookings %}
<div class="just-padding">
    <h4>Se igjennom kontrollrapporten før godkjenning</h4>
    <a class="btn btn-info" href="{% url 'pdf' customer.id %}?status=2" target="_blank">Se igjennom</a><br>
    <br>
    <h4>Følgende handlinger har blitt utført</h4>
    <p>Gå igjennom punkt for punkt eller godta alle</p>
    <a class="btn btn-success" href="?liste=bookings&book=all">Godkjenn alle</a>
    <br><br>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Utført?</th>
            <th>Angre?</th>
            <th>Godkjenn?</th>
            <th>Behandle</th>
            <th>Etg</th>
            <th>Lokasjon</th>
            <th>Plassering</th>
            <th>Objekt</th>


        </tr>

        {% for objtr in bookings %}
        <tr>
            <td>{{objtr.object.id}}</td>
            <!-- Gå igjennom alle de ulike typene i ObjTr -->
            <td>
                {% if objtr.kontrolldato %}
                1-års kontroll utført
                {% define "kontroll" as action %}
                {% endif %}
                {% if objtr.servicedato %}
                {% define "service" as action %}
                5/10-års kontroll utført
                {% endif %}
                {% if objtr.avvik.all %}
                {% define "avvik" as action %}
                Avvik registrert
                {% endif %}
                {% if objtr.utbedret_avvik %}
                {% define "utbedret" as action %}
                Avvik utbedret
                {% endif %}
                {% if objtr.added %}
                {% define "added" as action %}
                Ny
                {% endif %}
                {% if objtr.deleted %}
                {% define "deleted" as action %}
                Fjernet
                {% endif %}

            </td>
            <td><a class="btn btn-danger btn-sm"
                   href="{% url 'detail' customer.id %}?liste=bookings&objtrid={{objtr.id}}&book=no&action={{action}}">Angre</a>
            </td>
            <td><a class="btn btn-success btn-sm"
                   href="{% url 'detail' customer.id %}?liste=bookings&objtrid={{objtr.id}}&book=yes">Godkjenn</a></td>
            <td>
                {% if objtr.avvik.all %}
                <a class="btn btn-primary btn-sm" href="{% url 'avvik' customer.pk %}?obj={{objtr.object.pk}}">Behandle
                    avvik</a>
                {% endif %}

            </td>
            <td>{{objtr.object.etg}}</td>
            <td>{{objtr.object.lokasjon}}</td>
            <td>{{objtr.object.plassering}}</td>
            <td>{{objtr.object.extinguishant}}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="just-padding">
    <h2>Ingenting å behandle. </h2>
    <a href="{% url 'objtr' customer.id %}">Kontrollrapport</a>
</div>
{% endif %}
{% endblock %}
