{% extends 'base.html' %}
{% block body %}
<!-- History -->
<div class="just-padding">
    <h5><a class="text-dark" href="{% url 'index' %}?a=all"> Alle kunder ></a>
        <a class="text-dark" href="{% url 'detail' customer.id %}">{{customer.kunde}} ></a>
    </h5>
</div>
{% if objects %}
    <!-- Toast -->
    {% if toast %}
{% include 'toast.html' %}
{% block toast %}
{% endblock toast %}
{% endif %}
<!-- Liste-meny Nivå 1  Etg-->
<div class="lead list-group list-group-root well text-dark">
    {% regroup objects by etg as etg_list %}
    {% for e in etg_list %}
    <a class="list-group-item  text-dark" href="#">
        {{ e.grouper }}. etasje</a>
    <!-- Liste-meny Nivå 2  Loaksjon -->
    <div class="list-group in text-dark" id="item-{{ forloop.counter }}">
        {% regroup e.list by lokasjon as lokasjon_list %}
        {% for l in lokasjon_list %}
        <a class="chevron list-group-item text-dark" data-toggle="collapse"
           href="#item-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
            <i class="fa fa-chevron-right"></i>&nbsp; Lokasjon: {{ l.grouper }}</a>
        <!-- Liste-meny Nivå 3  plassering -->
        <div class="list-group collapse text-dark" id="item-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
            {%regroup l.list by plassering as plassering_list %}
            {% for p in plassering_list %}
            <a class="chevron list-group-item text-dark"
               data-toggle="collapse"
               href="#item-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                <i class="fa fa-chevron-right"></i>&nbsp; Plassering: {{ p.grouper }}</a>
            <div class="list-group collapse"
                 id="item-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                {% for obj in p.list %}
                <div class="row list-group-item d-flex justify-content-around">
                    <!-- Button to Open the Modal -->
                    <a class="btn btn-lg btn-light"
                       data-target="#myModal{{forloop.parentloop.parentloop.parentloop.counter}}{{forloop.parentloop.parentloop.counter}}{{forloop.parentloop.counter}}{{forloop.counter}}"
                       data-toggle="modal">
                        Objekt:
                        {{obj.extinguishant.fabrikat}}
                        {{obj.extinguishant.type}}
                        {% if obj.extinguishant.lengde is not None %}
                        {{obj.extinguishant.lengde}}
                        {% endif %}
                        {% if obj.extinguishant.slukkemiddel is not None %}
                        {{obj.extinguishant.slukkemiddel}}
                        {% endif %}</a>
                </div>
                <!-- Modaler -->
                {% include 'modal.html' %}
                {% block modal %}
                {% endblock modal %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="just-padding">
    Kunden har ingen objekter som skal kontrolleres.
</div>
{% endif %}

{% endblock %}

