{% load widget_tweaks %}

{% block body %}

<div class="just-padding">
    <h2>Kontroller for avvik</h2>
    <form action="{% url 'detail' customer.pk %}?obj={{obj.pk}}&toast=avvik" method="post">
        {% csrf_token %}


        {% for hidden in avvikform.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in avvikform.visible_fields %}
        <div class="form-group">
            <label class="lead" for="{{ field.id_for_label }}">{{ field.label }}</label><br>

            {{ field }}

            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}



    <button class="btn btn-success" type="submit">
        <span class="fa fa-ok"></span> Registrer
    </button>
    <a class="btn btn-danger" href="{% url 'detail' customer.pk %}">Avbryt</a>
         </form>
</div>


{% endblock %}