{% extends 'base.html' %}
{% block body %}

<div class="just-padding">
    <div class="container-fluid">
        <h5><a class="text-dark" href="#">{{obj.customer.month}}</a> >
            <a class="text-dark" href="#">{{obj.customer.kunde}}</a> >
            <a class="text-dark" href="#">{{obj.etg}}.etg</a> >
            <a class="text-dark" href="#">{{obj.lokasjon}}</a> >
            <a class="text-dark" href="#">{{obj.plassering}}</a> >
        </h5>
        <div class="card just-padding col-sm-6">
            <h4>Refnr. {{obj.refnr }}</h4>
            <h1> {{obj.extinguishant.fabrikat}}
                {{obj.extinguishant.type}}
                {% if obj.extinguishant.lengde is not None %}
                {{obj.extinguishant.lengde}}a
                {% endif %}
                {% if obj.extinguishant.slukkemiddel is not None %}
                {{obj.extinguishant.slukkemiddel}}
                {% endif %}</h1>
        </div>
    </div>
</div>

{% endblock %}