{% extends 'base.html' %}
{% block body %}


{% if kontroll == "now" %}
<h1>Kontrollert</h1>
Se rapport: <a class="" href="{% url 'objtr' customer.id %}">Kontrollrapporter</a>
{% endif %}
{% if kontroll == "ask" %}
<h1>Kontrollere???</h1>
Trykk her hvis objektet er kontrollert: <a class="btn"
                                           href="{% url 'obj_detail' obj.pk %}?kontroll=now"">Kontroller!</a>
{% endif %}

{% if service == "now" %}
<h1>Utført service</h1>
Se rapport: <a class="" href="{% url 'objtr' customer.id %}">Kontrollrapporter</a>
{% endif %}
{% if service == "ask" %}
<h1>Utfør service??????</h1>
Trykk her hvis objektet har utført service: <a class="btn"
                                               href="{% url 'obj_detail' obj.pk %}?service=now"">Utfør service!</a>
{% endif %}

{% if endring %}
<h1>Utfør endringer</h1>
Her kan man gjøre endringer på objektet, etterhvert....
{% endif %}

{% if avvik %}
<h1>Registrer avvik på objekt</h1>
Her kan man registrere avvik på objektet, etterhvert....
{% endif %}


<br><br>
<h4 class="">Refnr. {{obj.refnr }}</h4>
<h1> {{obj.extinguishant.fabrikat}}
    {{obj.extinguishant.type}}<br></h1>
<h2>
    {% if obj.extinguishant.lengde is not None %}
    {{obj.extinguishant.lengde}}
    {% endif %}
    {% if obj.extinguishant.slukkemiddel is not None %}
    {{obj.extinguishant.slukkemiddel}}
    {% endif %}</h2></p><br>
<div class="table-responsive">
    <table class="lead table" style="border">
        <tr>
            <td>Sist kontrollert: [{{obj.sistekontroll}}]</td>
        </tr>
        <tr>
            <td>Siste service: [{{obj.sisteservice}}]</td>
        </tr>
    </table>


    {% endblock %}