{% extends 'base.html' %}
{% block body %}

<div class="just-padding">

    <h5><a class="text-dark" href="{% url 'index' %}?a=all"> Alle kunder ></a>
        <a class="text-dark" href="{% url 'detail' customer.id %}">{{customer.kunde}} ></a>
    </h5>

<table class="table w-auto">
    <tr>
        <td>Navn:</td>
        <td>{{customer.kunde}}</td>
        <td>Kundenummer:</td>
        <td>{{customer.tripletex}}</td>
    </tr>
    <tr>
        <td>Oppdragsadresse:</td>
        <td>{{customer.badresse}}</td>
        <td>Fakturaadresse:</td>
        <td>{% if customer.fadresse is not None %}
            {{customer.fadresse}}
            {% else %}
            {{customer.badresse}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Postnr./-sted:</td>
        <td>{{customer.bpostnr}} {{customer.bpoststed}}</td>
        <td>Fakturapostnr./-sted:</td>
        <td>{% if customer.fpostnr is not None %}
            {{customer.fpostnr}}
            {{customer.fpoststed}}
            {% else %}
            {{customer.bpostnr}}
            {{customer.bpoststed}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Kontaktperson:</td>
        <td>{{customer.kontaktperson}}</td>
        <td>Telefonnr:</td>
        <td>{{customer.tlf1}}
            {% if customer.tlf2 is not None %}
            /
            {{customer.tlf2}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>E-post:</td>
        <td>{{customer.email}}</td>
    </tr>
</table>


<h5 class="text-dark">Utførte kontroller og servicer</h5>
</div>
{% regroup kontrs by kontrolldato|date:'F Y' as date_list %}

<div id="accordion">
    {% for month in date_list %}
    <div class="card">
        <div class="bg-white" id="heading{{ forloop.counter }}">
            <button aria-controls="collapse{{ forloop.counter }}" aria-expanded="false"
                    class="chevron btn btn-link btn-lg collapsed text-dark"
                    data-target="#collapse{{ forloop.counter }}"
                    data-toggle="collapse"><i class="fa fa-chevron-right"></i>
                {{month.grouper}}
            </button>
        </div>
        <div aria-labelledby="heading{{ forloop.counter }}" class="collapse"
             data-parent="#accordion"
             id="collapse{{ forloop.counter }}">
            <div class="just-padding"><a class="btn btn-info" href="{% url 'pdf' customer.id %}?month={{month.grouper}}">Skriv rapport(PDF)</a>
            </div>
            <div class="card-body table-responsive">
                <table class="small table w-auto">
                    <tr>
                        <td colspan="9"><h1>Kontrollrapport</h1></td>
                    </tr>
                    <tr>
                        <th>Kontrollert</th>
                        <th>Etg</th>
                        <th>Lokasjon</th>
                        <th>Plassering</th>
                        <th>Slokkeutstyr</th>
                        <th>Utstyr</th>
                        <th>Prod. år</th>
                        <th>Siste service</th>
                        <th>Neste service</th>
                        <th>Kontrollør</th>
                    </tr>
                    {% for obj in month.list %}
                    <tr>
                        <td>{{ obj.kontrolldato }}</td>
                        <td>{{ obj.object.etg }}</td>
                        <td>{{ obj.object.lokasjon }}</td>
                        <td>{{ obj.object.plassering }}</td>
                        <td>{{ obj.object.extinguishant.slokketype.navn }}</td>
                        <td>{{ obj.object.extinguishant.fabrikat }}
                            {{ obj.object.extinguishant.type }}
                            {% if obj.object.extinguishant.slukkemiddel %}
                            {{ obj.object.extinguishant.slukkemiddel }}
                            {% endif %}
                            {% if obj.object.extinguishant.lengde %}
                            {{ obj.object.extinguishant.lengde }}
                            {% endif %}
                        </td>
                        <td>{{ obj.object.prodyear }}</td>
                        <td>{{ obj.object.sisteservice }}</td>
                        <td>{{ obj.object.nesteservice }}</td>
                        <td>user</td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="small table w-auto">
                    {% for obj in month.list %}
                    {% if obj.servicedato is not None %}
                    <tr>
                        <td colspan="9"><h1>Servicerapport</h1></td>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <th>Etg</th>
                        <th>Lokasjon</th>
                        <th>Plassering</th>
                        <th>Slokkeutstyr</th>
                        <th>Utstyr</th>
                        <th>Prod. år</th>
                        <th>Kontrollør</th>
                    </tr>
                    {{'<!--'}}
                    {%endif%}
                    {%endfor%}
                    {{'--> '}}

                    {% for obj in month.list %}
                    {% if obj.servicedato is not None %}

                    <tr>
                        <td>{{ obj.servicedato }}</td>
                        <td>{{ obj.object.etg }}</td>
                        <td>{{ obj.object.lokasjon }}</td>
                        <td>{{ obj.object.plassering }}</td>
                        <td>{{ obj.object.extinguishant.slokketype.navn }}</td>
                        <td>{{ obj.object.extinguishant.fabrikat }}
                            {{ obj.object.extinguishant.type }}
                            {% if obj.object.extinguishant.slukkemiddel %}
                            {{ obj.object.extinguishant.slukkemiddel }}
                            {% endif %}
                            {% if obj.object.extinguishant.lengde %}
                            {{ obj.object.extinguishant.lengde }}
                            {% endif %}
                        </td>
                        <td>{{ obj.object.prodyear }}</td>
                        <td>user</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
