{% extends 'base.html' %}
{% block body %}


<!--kundeinfo -->
<div class="just-padding">

    <table class="table w-auto">
        <tr>
            <td>Navn:</td>
            <td>{{customer.kunde}}</td>
            <td>Kundenummer:</td>
            <td>{{customer.tripletex}}</td>
        </tr>
        <tr>
            <td>Oppdragsadresse:</td>
            <td>{{customer.badresse}}</td>
            <td>Fakturaadresse:</td>
            <td>{% if customer.fadresse is not None %}
                {{customer.fadresse}}
                {% else %}
                {{customer.badresse}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Postnr./-sted:</td>
            <td>{{customer.bpostnr}} {{customer.bpoststed}}</td>
            <td>Fakturapostnr./-sted:</td>
            <td>{% if customer.fpostnr is not None %}
                {{customer.fpostnr}}
                {{customer.fpoststed}}
                {% else %}
                {{customer.bpostnr}}
                {{customer.bpoststed}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Kontaktperson:</td>
            <td>{{customer.kontaktperson}}</td>
            <td>Telefonnr:</td>
            <td>{{customer.tlf1}}
                {% if customer.tlf2 is not None %}
                /
                {{customer.tlf2}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>E-post:</td>
            <td>{{customer.email}}</td>
        </tr>
    </table>


    <br>
    <!-- test: {{objs}}
 {% for o in objs%}
     <p>{{o.pk}}{{o}}</p>
     {% endfor %}
 -->
    {% if bookings %}
    <h3><font color="red">Det finnes handlinger som ikke er kvittert ut.
        <a href="{% url 'detail' customer.id %}?liste=bookings">Kontroller
            her</a></font></h3>
    {% endif %}
    <h5 class="text-dark">Utførte kontroller</h5>
</div>
{% if objs %}
{% regroup objs by modified|date:'Y' as date_list %}
<!-- Gruppering av kontroller -->
<div id="accordion">

    {% for year in date_list %}

    <div class="card">
        <div class="bg-white" id="heading{{ forloop.counter }}">
            <button aria-controls="collapse{{ forloop.counter }}" aria-expanded="false"
                    class="chevron btn btn-link btn-lg collapsed text-dark"
                    data-target="#collapse{{ forloop.counter }}"
                    data-toggle="collapse"><i class="fa fa-chevron-right"></i>
                {{year.grouper}}
            </button>
        </div>
        <div aria-labelledby="heading{{ forloop.counter }}" class="collapse"
             data-parent="#accordion"
             id="collapse{{ forloop.counter }}">
            <div class="just-padding">
                <a class="btn btn-info"
                href="{% url 'pdf' customer.id %}?status=1&year={{year.grouper}}&kontroller=true" 
                target="_blank">
                Skriv ut kontrollrapport(PDF)</a>
                
                <a class="btn btn-info"
                href="{% url 'pdf' customer.id %}?status=1&year={{year.grouper}}&extra=true" 
                target="_blank">
                Skriv ut rapport på ekstra(PDF)</a>
                
                <br>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock %}
