{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dokumentasjon {{customer.kunde}}</title>
    <style>
        @page {
            size: A4 landscape;
            top: 3.2cm;
            margin: 1cm;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 27cm;
                margin-right: 1cm;
                height: 0.5cm;
                }
             @frame header {
               -pdf-frame-content: page-header;
                top: 0cm;
                margin-top: 0.5cm;
                margin-left: 1cm;
                margin-right: 1cm;

                }


        }

        th, td {
  padding: 1px;

}

        th {
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        tr { page-break-inside: avoid !important; }
    table.avvik {
        border-collapse: collapse;
        width: 100%;
    }

    tr.avvik {
        border-bottom: 1px solid #ccc;
    }

    th.avvik {
        text-align: left;
    }

    </style>
</head>
<body>

<div id="page-header">

    <table>
        <tr>
            <td rowspan="7" style="width:220px">
                <img alt="image" height="100%" src="{% static 'kontroll/images/btg.png'%}" width="100%"/>
            </td>
        </tr>
        <tr>
            <td rowspan="6" style="width:20px"></td>
        </tr>
        <tr>
            <td style="width:120px">Utførende selskap:</td>
            <td style="width:220px">BRANNTEKNIKK GRENLAND AS</td>
            <td style="width:120px">Kompetent virksomhet:</td>
            <td style="width:220px">Reg.nr. 113</td>
        </tr>
        <tr>
            <td>Adresse:</td>
            <td>Klyvevegen 9</td>
            <td>Orgnr.:</td>
            <td>984879873</td>
        </tr>
        <tr>
            <td>Postnr/-sted:</td>
            <td>3740 Skien</td>
            <td>E-post:</td>
            <td>btg@btg.as</td>
        </tr>
        <tr>
            <td>Telefonnr.:</td>
            <td>35 59 46 36</td>
            <td>Webside</td>
            <td>www.btg.as</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <hr>
</div>
<br><br><br>
<h1>DOKUMENTASJON PÅ UTFØRT KONTROLL AV BRANNSLOKKEUTSTYR</h1>
<br>
<h2>EIERINFORMASJON</h2>
<table>
    <tr>
        <td>Navn:</td>
        <td>{{customer.kunde}}</td>
        <td>Kundenummer:</td>
        <td>{{customer.tripletex}}</td>
    </tr>
    <tr>
        <td>Oppdragsadresse:</td>
        <td>{{customer.badresse}}</td>
        <td>Fakturaadresse:</td>
        <td>{% if customer.fadresse is not None %}
            {{customer.fadresse}}
            {% else %}
            {{customer.badresse}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="width:120px">Postnr./-sted:</td>
        <td style="width:220px">{{customer.bpostnr}} {{customer.bpoststed}}</td>
        <td style="width:120px">Fakturapostnr./-sted:</td>
        <td style="width:220px">{% if customer.fpostnr is not None %}
            {{customer.fpostnr}}
            {{customer.fpoststed}}
            {% else %}
            {{customer.bpostnr}}
            {{customer.bpoststed}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Kontaktperson:</td>
        <td>{{customer.kontaktperson}}</td>
        <td>Telefonnr:</td>
        <td>{{customer.tlf1}}
            {% if customer.tlf2 is not None %}
            /
            {{customer.tlf2}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>E-post:</td>
        <td>{{customer.email}}</td>
    </tr>
</table>
<hr>
<table>
    <tr><!-- Disse må deles opp -->
        <td>Totalt antall objekter kontrollert:</td>
        <td>
            {{totkontr}} stk
        </td>
    </tr>
    <tr>
        <td>Antall 1-års kontroller:</td>
        <td>
            {{kontrs}} stk
        </td>
    </tr>

    <tr>
        <td>Antall 5/10-års kontroller:</td>
        <td>
            {% if services %}
            {% for service in services %}
            {% if forloop.last %}
            {{forloop.counter}} stk
            {% endif %}
            {% endfor %}
            {% else %}
            0 stk
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Antall objekter med avvik:</td>
        <td>
            {% if avviks %}
            {{avviks}} stk
            {% else %}
            0 stk
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Antall avvik utbedret:</td>
        <td>
            {% if utbedret_avviks %}
            {{utbedret_avviks}} stk
            {% else %}
            0 stk
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Antall nye objekter montert:</td>
        <td>
            {% if added %}
            {{added}} stk
            {% else %}
            0 stk
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Antall objekter fjernet</td>
        <td>
            {% if deleted %}
            {{deleted}} stk
            {% else %}
            0 stk
            {% endif %}
        </td>
    </tr>
</table>

<hr>
<pdf:nextpage/>
<table repeat="3">
    <tr>
        <td colspan="9"><h2>Utførte 1-års kontroller uten avvik</h2></td>
    </tr>

    <tr>
        <th style="width:80px">Kontrolldato</th>
        <th style="width:25px">Etg</th>
        <th style="width:180px">Lokasjon</th>
        <th style="width:180px">Plassering</th>
        <th style="width:80px">Slokkeutstyr</th>
        <th style="width:180px">Utstyr</th>
        <th style="width:50px">Prod. år</th>
        <th style="width:80px">Siste 5/10-års kontroll</th>
        <th style="width:80px">Neste 5/10-års kontroll</th>
        <th style="width:125px">Kontrollør</th>
    </tr>

    <tr>&nbsp;</tr>
    {% for obj in objs %}
    {% if obj.kontrolldato is not None %}
    <tr>
        <td>{{ obj.kontrolldato|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.slokketype.navn }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{% if obj.object.sisteservice is not None %}
            {{ obj.object.sisteservice|date:'M. Y' }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td>{% if obj.object.nesteservice is not None %}
            {{ obj.object.nesteservice|date:'M. Y' }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td>{{ obj.user }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% if services %}
<pdf:nextpage/>
<table repeat="3">
    <tr>
        <td colspan="9"><h2>Utførte 5/10-års kontroller</h2></td>
    </tr>
    <tr>
        <th style="width:80px">Kontrolldato</th>
        <th style="width:25px">Etg</th>
        <th style="width:125px">Lokasjon</th>
        <th style="width:250px">Plassering</th>
        <th style="width:80px">Slokkeutstyr</th>
        <th style="width:250px">Utstyr</th>
        <th style="width:50px">Prod. år</th>
        <th style="width:80px">Neste 5/10-års kontroll</th>
        <th style="width:125px">Kontrollør</th>
    </tr>
    <tr>&nbsp;</tr>

    {% for obj in objs %}
    {% if obj.servicedato is not None %}
    <tr>
        <td>{{ obj.servicedato|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.slokketype.navn }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{{ obj.object.nesteservice|date:'M. Y' }}</td>
        <td>{{ obj.user }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
</table>
{% if utbedret_avviks %}
<pdf:nextpage/>
<table class="avvik" repeat="3">
    <tr>
        <td colspan="9"><h2>Registrerte avvik som er utbedret</h2></td>
    </tr>
    <tr class="avvik">
        <th>Utbedret dato</th>
        <th>Etg</th>
        <th>Lokasjon</th>
        <th>Plassering</th>
        <th>Utstyr</th>
        <th>Avvik</th>
        <th>Prod. år</th>
        <th>Kontrollør</th>
    </tr>
    <tr>&nbsp;</tr>

    {% for obj in objs %}
    {% if obj.utbedret_avvik is not None %}
    <tr class="avvik">
        <td>{{ obj.modified|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>{{ obj.utbedret_avvik }}</td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{{obj.user}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
</table>
{% if avviks %}
<pdf:nextpage/>
<table class="avvik" repeat="3">
    <tr>
        <td colspan="9"><h1 class="lead"><font color="red">Objekter med avvik</font></h1></td>
    </tr>
    <tr class="avvik">
        <th>Kontrolldato</th>
        <th>Etg</th>
        <th>Lokasjon</th>
        <th>Plassering</th>
        <th>Utstyr</th>
        <th style="width:300px">Avvik</th>
        <th style="width:300px">Kommentar</th>
        <th>Prod. år</th>
        <th>Kontrollør</th>
    </tr>
    <tr>&nbsp;</tr>

    {% for obj in objs %}
    {% if obj.avvik.all %}
    <tr class="avvik">
        <td>{{ obj.modified|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>
            <table>
                {% for o in obj.avvik.all %}
                <tr>
                    <td>
                        {{o}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>{% if obj.kommentar %}
            {{ obj.kommentar }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{{obj.user}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
</table>
<!-- Objekter som er fjernet -->

{% if added %}
<pdf:nextpage/>

<table repeat="3">
    <tr>
        <td colspan="6"><h2>Objekter lagt til</h2></td>
    </tr>

    <tr>
        <th>Dato</th>
        <th>Etg</th>
        <th>Lokasjon</th>
        <th>Plassering</th>
        <th>Utstyr</th>
        <th>Prod. år</th>
        <th>Kontrollør</th>
    </tr>

    <tr>&nbsp;</tr>

    {% for obj in objs %}
    {% if obj.added %}
    <tr>
        <td>{{ obj.created|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{{obj.user}}</td>
    </tr>
    {% endif %}
    {% endfor %}

    {% endif %}
</table>
{% if deleted %}
<pdf:nextpage/>

<table repeat="3">
    <tr>
        <td colspan="6"><h2>Objekter fjernet</h2></td>
    </tr>

    <tr>
        <th>Dato</th>
        <th>Etg</th>
        <th>Lokasjon</th>
        <th>Plassering</th>
        <th>Utstyr</th>
        <th>Prod. år</th>
        <th>Kontrollør</th>
    </tr>

    <tr>&nbsp;</tr>

    {% for obj in objs %}
    {% if obj.deleted %}
    <tr>
        <td>{{ obj.modified|date:'j. M. Y' }}</td>
        <td>{{ obj.object.etg }}</td>
        <td>{{ obj.object.lokasjon }}</td>
        <td>{{ obj.object.plassering }}</td>
        <td>{{ obj.object.extinguishant.fabrikat }}
            {{ obj.object.extinguishant.type }}
            {% if obj.object.extinguishant.slukkemiddel %}
            {{ obj.object.extinguishant.slukkemiddel }}
            {% endif %}
            {% if obj.object.extinguishant.lengde %}
            {{ obj.object.extinguishant.lengde }}
            {% endif %}
        </td>
        <td>{{ obj.object.prodyear }}</td>
        <td>{{obj.user}}</td>
    </tr>
    {% endif %}
    {% endfor %}

    {% endif %}
</table>


<footer>
    <div id="footerContent">
        Side
        <pdf:pagenumber/>
        av
        <pdf:pagecount/>

    </div>
</footer>
</body>
</html>